<!doctype html>
<html>
	<head>
<title>{% block title %}Home{% endblock %} - TranspaRanking</title>
<meta name="viewport" content="initial-scale=1, minimum-scale=1" />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
<h1>TranspaRanking</h1>
<main class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
  <footer>Testing instance of TranspaRanking software. Find the open source in this <a href="https://gitlab.com/flowdy/transparanking">repository</a>. See also <a href="/disclaimer">Disclaimer</a> before you make polls, vote or believe a report!</footer>
</main>
	</body>
</html>
