{% extends 'base.html' %}
{% block title %}Draft of a "terms of use" / Disclaimer{% endblock %}

{% block content %}
<p>TranspaRanking instances running the software in a version below v1.0 or with -alpha or -beta version number appendices (currently, this one is running version v{{ version }}) are to be seen as mere <strong>testing instances</strong> with no representativity in their reports. Vote records may be fake or can loose verifiability no matter if they have been invited. Especially if the domain name consists of at least three parts and the name "transparanking" is not the penultimate component of the domain name, and if the operator does not identify, please do not count on any reliability. Everyone can fiddle around with their own online instances. The TranspaRanking project maintainer and owner of the <a href="https://gitlab.com/flowdy/transparanking">official code repository</a> does not take any liability in the sense that the GNU General public license conveys.</p>

<p>The admin grants to noone the explicit right to run competitions or to vote in any on this TranspaRanking server instance. They rather implicitly condone these actions as long as a given competition is technically accessible and the associated vote records are accepted as valid.</p>

<p>In case you create a poll that the admin assumes could rise, basically or related to specific linked resources (items), legal liability issues
for them in their jurisdiction concerning operation of this site, they might choose not to take any risk and to disapprove the poll.
Under this circumstance, the poll and all associated data will be deleted with notice if they are sure you created it and have valid
contact to you (e-mail, forum accounts, messenger contacts etc.). Otherwise, it can be deleted without notice. For vote records people may have posted would become unverifiable once the competition is deleted. Competition hosts are recommended to notify the admin of the poll creation so they have your contact. Notification is of course impossible if you do not know their contact.<p>

<p>You have the right to export at any time the data of competitions of which you know the pass phrase, e.g. to move them to a TranspaRanking server instance that you technically govern yourself or you have got better contact to the admin. It is one of the planned key features that mere change of location or identity of a TranspaRanking instance does not render the published vote records unverifiable. Every instance to which you can import the competition record should be able to verify vote records and to generate/update reports from those re-collected by the host, or by someone else as long as only invited votes are added.</p>

<p>Invited votes are votes that can be changed until end of competition and of which people once can demand proof the competition host has assured and knows each originates from a unique human. On a testing instance this is, however, a lazy claim not to be trusted. It also requires measures the admin of the instance operates to enable such a proof. These measures are not in the scope of the TranspaRanking system itself and need to be operated externally.</p>

{% endblock %}

