{% extends 'base.html' %}
{% block title %}Hello{% endblock %}
{% block content %}

<h2>Registered polls</h2>

<ul>
{% for competition in ["synth/neusiker-solo-2024"] %}
<li>{{ competition }}: <a href="manage-poll/{{ competition }}">manage poll</a> | <a href="vote/{{ competition }}">vote</a> | <a href="report/{{ competition }}">report</a></li>
{% endfor %}
</ul>

<h2>What it is all about</h2>

<p>TL;DR. This is a TranspaRanking testing and demonstration instance of the code in this <a href="https://gitlab.com/flowdy/transparanking">TranspaRanking code repository at Gitlab</a>.</p>

<p>For someone who succeeded in fostering their concentration to read long online-text in this world of distractions, here you go &hellip;</p>

<p>This is a show-case of the TranspaRanking system enabling users to evaluate provided items. For the time being these items can be harmless online art-pieces their creators want to compete with, be it music, video or text, wherever uploaded, they are just referenced by URL. In the future, these items can be imagined to be more essential things as more or less conventional elaborated plans of doing whatever, say, of saving the climate.</p>

<p>The system's far perspective, or rather the perspective of the umpteenth rewrite, is seen in deployment contexts where people must count on its robustness and decentralization. So, only a little machine-generated secret part of the votes are saved to the database. The share under the control of the voters is posted by the voters themselves publicly somewhere on the internet, the host must know where. The vote records are designed to not reveal the voter's opinion about specific items without knowledge of the secret part (this also depends on how any annotation is written of course).</p>

<p>Every TranspaRanking instance that has been given as import by the host the competition record and the secrets is able to generate the general and the facet-specific rankings from the vote records the host has re-collected and entered after the end-date of the competition. For the host knows the secrets once they export the competition record, they need the trust of the voters.</p>

<p>The items are evaluated sensibly in regard to suggested and custom facets. The facets are weighted by the voters. The weight of a facet ranges from 0 (optional facets), 1 (mandatory set) up to the number of the facets with a weight that the voter evaluates. The higher the weights of the facets, the more they influence the overall result.</p>

<p>So, people not only learn which items win or suck, but also why, because facet-specific rankings also reveal the annotations the voters may have given.</p>

<p>The system is currently in alpha state of development. Issuing any requests that would need processing with writes to the database requires basic authentication as an alpha-tester with whom I am holding contact. These actions are registering and altering polls, voting, and generating reports.</p>

{% endblock %}
