{% extends 'base.html' %}
{% block title %}Manage Poll{% endblock %}
{% block content %}
<p>Please give an overall question, not to mistake with any imaginable facet question, and list the items to judge, each with a uri to the media file and a title or label.</p>

<form method="POST">

<h2>Label (path)</h2>

<input type="text" name="label" value="{{ label }}" readonly="readonly" />

<h2>Question</h2>

<input type="text" name="question" value="{{ question }}"/>

<h2>Items</h2>

<table id="manage-poll-items">
	<tr><th>URI</th><th>Label</th><th>active?</th></tr>
	<tr><td><input type="text" name="uri-1" /></td><td><input type="text" name="label-1" /></td><td><input type="checkbox" name="votable" value="1"></td></tr>
	<tr><td><input type="text" name="uri-2" /></td><td><input type="text" name="label-2" /></td><td><input type="checkbox" name="votable" value="2"></td></tr>
	<tr><td><input type="text" name="uri-3" /></td><td><input type="text" name="label-3" /></td><td><input type="checkbox" name="votable" value="3"></td></tr>
</table>
<button id="add-item-row">Add another row</button>

<h2>Suggest facets</h2>

<ul id="suggest-facets">
	<li><input name="facet-1" value="How do you like it?" > <label><input type="checkbox" name="mandatory-1" value="y"> mandatory</label></li>
</ul>
<button id="add-facet-row">Suggest another facet</button>

<script type="text/javascript">
$(function (e) {
	var rowadder = $("button#add-item-row");
	rowadder.click(function (e) {
		e.preventDefault();
		var rows = rowadder.prev("table").find("tr").length;
		rowadder.prev("table").append(
			"<tr><td><input type=\"text\" name=\"uri-" + rows
		      + "\"></td><td><input type=\"text\" name=\"label-" + rows
	              + "\"></td><td><input type=\"checkbox\" name=\"votable\" value=\"" + rows
		      + "\" checked=\"checked\"></td></tr>"
		);
	});
	var rowadder1 = $("button#add-facet-row");
	rowadder1.click(function (e) {
		e.preventDefault();
		var rows = rowadder1.prev("ul").find("li").length;
		rowadder1.prev("ul").append(
			"<li><input type=\"text\" name=\"facet-" + rows
		      + "\"><label><input type=\"checkbox\" name=\"mandatory-" + rows
		      + "\" value=\"y\"> mandatory</label></li>"
		);
	});
});
</script>

<h2>End date<h2>

<p><input type="datetime" name="enddate" /></p>

<h2>Poll admin authentication</h2>

<p>Please input a secret, hard-to-guess pass phrase. It will be salted and hashed for security, given you know what
that means.</p>

<p>Input twice to change or save it: <input type="password" name="poll-admin-pass"><input type="password" id="rcrepeat"></p>

<h2>Invitation tokens</h2>

<pre id="invite-tokens">
[No invite tokens generated. Would be listed here.]
</pre>

<p>Generate <input type="number" min="0"> new invitation tokens</p>

<ul>
	<li><label><input type="checkbox" name="allow-uninvited-votes" value="y"> Allow uninvited votes</label></li>
	<li><label><input type="checkbox" name="invite-votes" value="y"> Invite votes</label></li>
</ul>

<p>Finally, please read the <a href="/disclaimer">disclaimer</a> and <button type="submit">Create/Update</button>.</p>
</form>

{% endblock %}
