body {
	color: #222;
}

body > h1 {
	padding-left: 3.5rem;
	background: transparent url(./logo.png) no-repeat left center / 3rem;
	text-shadow: .5rem .5rem 1rem yellow;
};

#manage-poll-items td { width: 45%; }

footer {
	color: #999;
	font-size: 0.8em;
	border-top: 1px solid #aaa;
	margin-top: 1em;
	padding-top: .5rem;
}

footer a {
	color: inherit;
	text-decoration: underline;
}
